<div class="p-3">
  <h1>Кабинет аптекаря</h1>
    <div class="col-md-3">
      <button class="btn btn-primary" style="margin-right: 10px" disabled>Отсканировать QR</button>
    </div>
    <div class="col-md-4 d-flex" style="margin-bottom: 10px; margin-top: 10px">
      <input #code class="form-control" type="number" placeholder="введите код рецепта" required>
      <button
        class="btn btn-primary"
        style="margin-left: 10px; width: 200px"
        (click)="goToRecipe(code.value)">
        Найти рецепт
      </button>
    </div>
    <button class="btn btn-danger" (click)="exit()">Выход</button>
</div>

