<div class="p-3">
  <h1>Кабинет врача</h1>
  <button class="btn btn-primary" (click)="openCreateRecipe()" style="margin-right: 10px">Выписать рецепт</button>
  <button class="btn btn-danger" (click)="exit()">Выход</button>
</div>
